body {
    font-family: Arial, sans-serif;
    background-color: #d4e6d4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #d3d3d3;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

main {
    padding: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

#new-task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

#add-task-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 20px;
}

#add-task-btn:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li.completed span {
    text-decoration: line-through;
    color: #aaa;
}

li button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-left: 10px;
}

.complete-btn {
    color: #4CAF50;
}

.complete-btn:hover {
    color: #388E3C;
}

.delete-btn {
    color: #f44336;
}

.delete-btn:hover {
    color: #d32f2f;
}
